<% user_challenges.each do |user_challenge| %>
  <div class="modal fade" id="chal<%=user_challenge.id%>" tabindex="-20" aria-labelledby="exampleModalLabel" aria-hidden="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= user_challenge.challenge.name %></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div data-league-target="detailsChallenge"></div>
          </div>
      </div>
    </div>
  </div>
<% end %>
