<div class="invite-friends container" data-controller="share" data-share-url-value="<%= @url %>">
  <div class="mobile" data-share-target="mobile">
      <button data-share-target="share" data-action="click->share#send" class="btn btn-primary">Invite your friends</button>
  </div>
  <div class="orid" data-share-target="ordi">
    <div data-controller="clipboard">
      <p>Send this link to your friends and start the <strong data-share-target="name"><%= @league.name %></strong> League ! </p>
      <div class="clipboard-width">
        <input data-clipboard-target="source" class="font-extralight text-xs h-6 rounded-md copy-btn" type="text" value="<%= @url %>" readonly>
        <button data-clipboard-target="trigger" data-action="clipboard#copy" class="btn btn-primary copy-btn">Copy</button>
      </div>
    </div>
  </div>
</div>