<div class="players-container">
        <h3>Player List</h3>
        <div class="players-list">
          <div class="players" data-league-target="players">
            <% @users.each do |user| %>
             <%= render "users/user", user: user %>
            <% end %>
          </div>
        </div>
</div>
