<!--*****************
		POP-UP CENTER
	******************-->
<div id="container">
<div id="exampleModal" class="reveal-modal">
     <h2>POP UP</h2>
     <p>
     window window window.window window window. window.
    </p>
    <a href="#" class="close-reveal-modal">×</a>
</div>
</div>
