 <div data-controller="ranking-subscription"
      data-ranking-subscription-league-id-value="<%= @league.id %>">
  <h3>Rankings</h3>
    <table>
      <thead>
        <tr>
          <th><p> Rank </p></th>
          <th><p> Player </p></th>
          <!--<th><p> Challenges Completed </p></th>-->
          <th><p> Score </p></th>
        </tr>
      </thead>
      <tbody>
      <div class="ranking" data-ranking-subscription-target="ranking">
          <%= render "ranking", player_rankings: @player_rankings%>
      </tbody>
    </table>
</div>
