<% users.each do |user| %>
    <div class="modal fade" id='<%= user.steam_username %>' tabindex="-20" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= render "users/show_user", user: user %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
