<div class="container">
    <h1>My Leagues</h1>
  <div class ="league-card">
    <div class="league-txt">
      <div class="game-image">
      </div>
      <div class="league-title-total">
        <ul>
          <% @leagues.each do |league| %>
            <li class ="league-game"><%= league.game.name %></li>
            <li class ="league-title"><%= link_to league.name, league_path(league) %></li>
            <li class ="league-desc"><%#= league.description %></li>
            <li class ="league-dates"><%#= league.start_on %></li>
            <li class ="league-dates"><%#= league.end_on %></li>
          <% end %>
        </ul>
      </div>  
    </div>  
</div>
<div>
    <%= link_to 'Create your League', new_league_path, class: "btn btn-primary" %>
    <%= link_to 'user stat', user_leagues_path, class: "btn btn-secondary" %>
</div>
