.form{
    font-family: var(--bs-body-font-family) !important;
    margin-bottom: 48px;
}

.radio {
    display: none;
}

.radio:checked + .label > img {
    // opacity: 0.5;
    border: 4px solid #6A36D5;
    background-color: #6A36D5;
    border-radius: $border-radius;
}

.label-all {
    display: grid;
    // grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 10px 0px; 
    // flex-wrap: wrap;
    margin-bottom: 8px;
    margin-top: 8px;
}

@media (min-width: 374px) {  
    .label-all {
        grid-template-columns: 1fr 1fr;
    }
  }
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 810px) {
    .label-all {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }


.label > img {
    flex-basis: 50%;
    border-radius: $border-radius;
    order: 2;
    margin: 0;
    float: left;
    width:  120px;
    height: 120px;
    object-fit: cover;
}

.btn-form{
    display: flex;
    justify-content: flex-end;
}

.form-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(-70deg, #FF517C, $my-purple, #23a6d5);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    opacity: 0.1;
  }
