html, body {
  height: 100%;
  margin :0;
  padding:0;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(-70deg, #FF517C, $my-purple, #23a6d5);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  -webkit-filter: drop-shadow(1px 1px 0 white)
                drop-shadow(-1px 1px 0 white)
                drop-shadow(1px -1px 0 white)
                drop-shadow(-1px -1px 0 white);

  filter: drop-shadow(1px 1px 0 white)
        drop-shadow(-1px 1px 0 white)
        drop-shadow(1px -1px 0 white)
        drop-shadow(-1px -1px 0 white);
}

.logo-container img {
  max-width: 100%;
  box-shadow: inset;
}

a {
  text-decoration: none;
  color: fff;
}

.container h1 {
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.container h2 {
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin-bottom: 50px;
}
