// Specific CSS for your home-page
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .logo-container img {
    max-width: 100%;
    height: auto;
  }
  
  a{
    text-decoration: none;
  }