[data-controller="timer"] {
  display: inline-block;
  padding: 8px;
  border-radius: 5px;
  background-color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}

[data-controller="timer"] p {
  margin: 0;
}

[data-timer-target="days"],
[data-timer-target="hours"],
[data-timer-target="minutes"],
[data-timer-target="seconds"] {
  display: inline-block;
  text-align: center;
  padding: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 0 2px;
  border-radius: 5px;
  font-family: "Press Start 2P", sans-serif;
}


[data-timer-target="days"]::before,
[data-timer-target="hours"]::before,
[data-timer-target="minutes"]::before,
[data-timer-target="seconds"]::before {
  content: attr(data-timer-target);
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: white;
  font-family: $body-font;
}

.league-container {
  top: 0;
  min-height: 100vh;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.players-list {
  display: flex;
  justify-content: center;
  text-align: center;
}

.leagues-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(-70deg, #FF517C, $my-purple, #23a6d5);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  opacity: 0.1;
}

.ranking h3 {
  display: flex;
  justify-content: center;
  margin: 5;
  padding: 10;
}

.ranking-table {
  background-color: $my-purple;
}

.players-container h3 {
  display: flex;
  justify-content: center;
  margin-top: 15;
  padding: 10;
}

.invite-friends {
  margin-bottom: 20px;
}
