[data-controller="timer"] {
  display: inline-block;
  text-align: center;
  padding: 8px;
  width: 88vw;
  border-radius: 8px;
  background-color: #6A36D5;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid white;
}

[data-controller="timer"] p {
  margin: 0;
}

[data-timer-target="days"],
[data-timer-target="hours"],
[data-timer-target="minutes"],
[data-timer-target="seconds"] {
  display: inline-block;
  padding: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 0 2px;
  border-radius: 8px;
  font-family: "Press Start 2P", sans-serif;
}


[data-timer-target="days"]::before,
[data-timer-target="hours"]::before,
[data-timer-target="minutes"]::before,
[data-timer-target="seconds"]::before {
  content: attr(data-timer-target);
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: white;
  font-family: $body-font;
}


.league-over h4 {
  color: white;
  display: flex;
  justify-content: center;
}

.league-container {
  top: 0;
  min-height: 100vh;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.players{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 24px;
  text-align: center;
  width: 100%;
}

.leagues-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(-70deg, #FF517C, $my-purple, #23a6d5);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  opacity: 0.1;
}

.ranking h3 {
  display: flex;
  justify-content: center;
  margin: 5;
  padding: 10;
}

table {
  border-radius: $border-radius;
  border-collapse: collapse;
  overflow: hidden;
  width: 88vw;
}

.players-container h3 {
  display: flex;
  justify-content: center;
  margin-top: 15;
  padding: 10;
}

.invite-friends-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2vw;
}


.invite-friends p{
  text-align: center;
}


table thead th{
  background: $my-purple;
  color: #ffffff;
  // border-radius: $border-radius;
  gap: 10px;
}

table tbody tr {
  background-color: #ffffff;
}

.card-challenges {
position: relative;
display: flex;
width: 88vw;
flex-direction: column;
justify-content: space-between;
padding: 1rem;
border: 1px solid #ccc;
border-radius: 0.5rem;
box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
transition: transform 0.2s ease-in-out;
color: white;
margin: 4px;
opacity: 0.9;



.card-details div {
  display: flex-end;
  justify-content: flex-end;
  align-items: center;
  color: white;
  margin-top: 0.5rem;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
}


&:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;

}

.progress {
  height: 1rem;
  border-radius: 0.5rem;
  background-color: #eee;
  overflow: hidden;
  position: relative;
  margin-top: 1rem;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0.25rem;
    background-color: #ffffff;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .progress-bar {
    height: 100%;
    border-radius: 0.5rem;
    background-color: #6A36D5;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.2s ease-in-out;
    z-index: 2;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);

    &:after {
      content: attr(data-progress) "%";
      position: absolute;
      right: 0;
      top: -1.5rem;
      color: #6A36D5;
      font-size: 1.5rem;
      font-weight: bold;
      text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    }
  }

  &.progress-high {
    .progress-bar {
      background-color: #5cb85c;
    }
  }

  &.progress-medium {
    .progress-bar {
      background-color: #f0ad4e;
    }
  }

  &.progress-low {
    .progress-bar {
      background-color: #d9534f;
    }
  }
}

&:nth-child(even) {
  background-color: #6A36D5;
}

&:nth-child(odd) {
  background-color: #FF517C;
}

.card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  color: #666;

  div {
    margin-right: 0.5rem;
  }
}
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  gap: 10px;
}


.button-group {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-top: 1rem;
margin-bottom: 1rem;
}

.button-group a {
flex: 1 1 auto;
margin-left: 5px;
margin-right: 5px;

}

.copy-btn{
  height: 2rem;
  padding: 6px 12px;
  width: 12rem;

}

@media (min-width: 360px) {  
  .clipboard-width {
      grid-template-columns: 1fr;
  }
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 810px) {
  .clipboard-width {
      grid-template-columns: 1fr 1fr;
  }
}

.clipboard-width {
  display: flex;
  gap: 8px;
  margin-top: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copy-btn{
height: 2rem;
}

.league-space-bottom {
  margin-bottom: 60px;
}

.clipboard-width input{
  border-radius: $border-radius;
  border: 1px solid #cccccc;
}
