.profile-container {
  background-color: #ffffff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  min-height: 100vh;
  padding-bottom: 70px;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-picture {
  width: 10rem;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 50px;
}

.profile-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.profile-categories {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 5;
    margin: 5;
    border-top: 1px solid #ccc;
}

.profile-categories p {
  margin: 0 10px;
}

.user-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  padding: 20px;
  text-align: center;

  .user-card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin:10px;
    overflow: hidden;
  }
}
