<div class="profile-container">
    <div class="profile-info">
      <img class="profile-picture" src="<%= @user.steam_image %>" alt="User Image">
      <h1><%= @user.steam_username %></h1>
    </div>
    <div class="profile-categories">
        <p> Challenges Completed </p>
        <p> Number of Leagues </p>
    </div>
</div>

