<footer class="footer-bar">
  <div class="footer-buttons">
    <a href="/leagues" class="footer-button"><i class="fa fa-home"></i></a>
    <a href="/league_user_leagues" class="footer-button"><i class="fa fa-users"></i></a>
    <a href="/leagues/new" class="footer-button"><i class="fa fa-plus"></i></a>
    <a href="/my_challenges" class="footer-button"><i class="fa fa-trophy"></i></a>
    <%= link_to "<i class='fa fa-user'></i>".html_safe, current_user.nil? ? root_path : user_path(current_user)  , class: "footer-button" %>
  </div>
</footer>
