<footer class="footer-bar">
  <div class="footer-buttons">
    <a href="/leagues" class="footer-button"><i class="fa fa-home"></i> Home</a>
    <a href="/user_leagues/my_stats" class="footer-button"><i class="fa fa-bar-chart"></i> My Stats</a>
    <a href="/leagues/new" class="footer-button"><i class="fa fa-plus"></i></a>
    <a href="/my_challenges" class="footer-button"><i class="fa fa-trophy"></i> My Challenges</a>
    <%= link_to "<i class='fa fa-user'></i> Profile".html_safe, user_path(current_user), class: "footer-button" %>
  </div>
</footer>
