<div class="home-background"></div>
<body class="home-page">
      <h1 class="home-title-h1">GGWellPlayed</h1>
    <div class="logo-container">
      <%= image_tag("GGWPLOGO.png", alt: "GGWellPlayed Logo") %>
    </div>
  </div>
  <div class="container" >

      <h2 class="home-title-h2">Unleash your <span data-controller="typed"></span>and challenge your friends today.</h2>
</body>

<%= link_to image_tag("loginsteamlarge.png"), '/steam/connect', id: 'steam-connect-btn', class: 'login-btn' %>