
<div class="container">
  <h1><%= @league.name.upcase %> CHALLENGES </h1>


  <% @challenges.each do |challenge| %>
    <div class="card">
      <%#= image_tag challenge.photo %>
      <h3><%= challenge.challenge.name %></h3>
      <p><%= challenge.challenge.description %></p>
      <div class="progress">
        <div class="progress-bar <%#= challenge.progress >= 75 ? "progress-high" : challenge.progress >= 50 ? "progress-medium" : "progress-low" %>" style="width: <%#= challenge.progress %>%;"></div>
      </div>
      <div class="card-details">
        <div>
          <%= challenge.challenge.points %> points
        </div>
      </div>
    </div>
  <% end %>
</div>
