.footer-bar {
  background-color: #6A36D5;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 7%;
  z-index: 100;
  margin-top: 3%;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.footer-buttons {
  position: fixed;
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  box-shadow: 0 4px 2px 6px rgba(0,0,0,.2);
}

.footer-button {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2vw;
  margin-top: 2%;
  text-decoration: none;
  padding: 2%;
  width: 20%;
  height: 100%;
}

  .footer-button i {
    font-size: 5vw;
    margin-bottom: 5px;
  }


.footer-button.fa-plus {
  left: 50%;
  transform: translateX(-50%);
}

body.home-page .footer-bar{
    display: none;
}



.footer-button .fa-plus {
  background-color: #FF517C;
  border-radius: 49%;
  padding: 8px;
  margin-top: -42px;
  border: 2px solid white;
  width: 55px;
  height: 55px;
}
